In [1]:
import sys
import os
import pandas as pd

# Add the module's directory to sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

from gimi9_geocoder.client import GeocoderClient

In [2]:
geocoder = GeocoderClient(
    token="9b4c40c8f5c935ca6524c2ec18aa7c49f4c3b6cb"
)  # 프로회원
# geocoder = GeocoderClient(token="DEMO_TOKEN")

data = {
    "address": [
        "서울특별시 강남구 테헤란로 123",
        "부산광역시 해운대구 해운대해변로 456",
        "대구광역시 중구 동성로 789",
    ]
}

In [3]:
df = pd.DataFrame(data)

# 주소를 좌표로 변환 (지오코딩)
df = geocoder.geocode(df, "address")

df

,address,z,h23_cd,hd_cd,bld_mgt_no,h1_nm,h23_nm,hd_nm,success,errmsg,pos_cd,addressCls,h1_cd,kostat_h1_cd,kostat_h2_cd,bn,rm,x_axis,y_axis
0,서울특별시 강남구 테헤란로 123,06133,11680,1168064000,1168010100106480024023791,서울,강남구,역삼1동,True,,도로명 주소,ROAD_ADDRESS,11,11,11230,1168010100106480024023791,테헤란로,127.031388,37.499545
1,부산광역시 해운대구 해운대해변로 456,NaN,26350,2635052500,NaN,부산,해운대,우제3동,True,도로명 대표주소: 해운대해변로,길이름 대표주소,ROAD_END_ADDRESS,26,21,21090,,해운대해변로,129.166936,35.164998
2,대구광역시 중구 동성로 789,NaN,27110,2711056500,NaN,대구,중,성내1동,True,도로명 대표주소: 동성로,길이름 대표주소,ROAD_END_ADDRESS,27,22,22010,,동성로,128.596501,35.873897

In [4]:
data_xy = {"x": df["x_axis"], "y": df["y_axis"]}
df_xy = pd.DataFrame(data_xy)
# 좌표를 주소로 변환 (역지오코딩)
df_reversed = geocoder.reverse_geocode(x_col="x", y_col="y", coordinates=df_xy)

df_reversed

,x,y,ADR_MNG_NO,address_road,geom_road,yyyymm_road,PNU,address_jibun,geom_jibun,yyyymm_jibun
0,127.031388,37.499545,11680101312201000012300000,서울특별시 강남구 테헤란로 123,"POLYGON ((127.031602 37.499508, 127.031281 37....",202404,1168010100106480024,서울특별시 강남구 역삼동 648-24번지,"POLYGON ((127.031221 37.499646, 127.031354 37....",202404
1,129.166936,35.164998,None,None,None,None,2635010600112420002,부산광역시 해운대구 중동 1242-2번지,"POLYGON ((129.166642 35.165480, 129.166649 35....",202404
2,128.596501,35.873897,None,None,None,None,2711012600100050006,대구광역시 중구 용덕동 5-6번지,"POLYGON ((128.596560 35.874056, 128.596586 35....",202404